# Aula prática de GDI: conectividade!
## O que iremos fazer nessa aula?
### . Introdução aos conceitos de conectividade com BD usando Python
### . Fazer uma API, utilizando Docker e Flask


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# Nossa! Mais uma parada para aprender! Já tenho 3 projetos e 4 listas para fazer! Vou fazer isso nem na paulada!

## Mas e aí, vocês já ouviram falar do Docker?

![title](https://www.mundodocker.com.br/wp-content/uploads/2015/06/docker_facebook_share.png)
### Ele é uma ferramenta amplamente utilizada no mercado de trabalho!
### Vamos utilizar ele para nos ajudar a subir o nosso banco de dados

Guia de instalação no Ubuntu:  
https://docs.docker.com/engine/install/ubuntu/  

Windows:  
https://docs.docker.com/desktop/windows/install/

## Agora, vamos dar uma olhadinha no arquivo docker-compose.yml

![title](https://www.docker.com/blog/wp-content/uploads/2020/02/Compose.png)

## Quais as bibliotecas que vamos utilizar nessa aula?

In [29]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

## Conectando ao banco de dados PostgreSQL

In [34]:
user, password, db  = 'postgres', 'postgres', 'postgres'
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/{db}')

## Fazer operações utilizando o SQLAlchemy:
##   
##  
## SELECT

In [37]:
conn = engine.raw_connection()
cur = conn.cursor()

query =  'SELECT * FROM customers where customerid < 10;'

try: 
    cur.execute(query)
    for record in cur:
        print(record)
        
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

(1, 'Male', 19, 15, 39)
(2, 'Male', 21, 15, 81)
(3, 'Female', 20, 16, 6)
(4, 'Female', 23, 16, 77)
(5, 'Female', 31, 17, 40)
(6, 'Female', 22, 17, 76)
(7, 'Female', 35, 18, 6)
(8, 'Female', 23, 18, 94)
(9, 'Male', 64, 19, 3)

## INSERT

In [38]:
conn = engine.raw_connection()
cur = conn.cursor()

query = "INSERT INTO customers (CustomerID,Genre,Age,Annual_Income,Spending_Score) VALUES (10001, 'Male', 30, 300, 93);"
try:
    cur.execute(query)
    conn.commit()
    cur.close()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

## Existem várias formas de se conectar a um banco de dados.
## Uma das bibliotecas mais utilizadas no mundo de dados tem também métodos de conectividade!


![title](https://www.topmelhores.com.br/imagens/post/294/330xNxfilhotes-panda.jpg.pagespeed.ic.c40fad137e.jpg)

(eu poderia até colocar a imagem da lib, mas pq perder a oportunidade de olhar para uns pandinhas?)

## Lendo queries com o pandas

In [39]:
conn = engine.raw_connection()

query =  'SELECT * FROM customers;'

df = pd.read_sql_query(query, conn)
df

     customerid   genre  age  annual_income  spending_score
0             1    Male   19             15              39
1             2    Male   21             15              81
2             3  Female   20             16               6
3             4  Female   23             16              77
4             5  Female   31             17              40
..          ...     ...  ...            ...             ...
196         197  Female   45            126              28
197         198    Male   32            126              74
198         199    Male   32            137              18
199         200    Male   30            137              83
200       10001    Male   30            300              93

[201 rows x 5 columns]

## Inserindo dados no banco utilando o pd

In [28]:
df = pd.DataFrame({'name' : ['Vitor', 'Robson', 'Você, futuro monitor de GDI :D s2', 'Sério, vale muito a pena'], 'age': [29, 35, 70, 90]})
df.to_sql('ehnois', engine, if_exists='append')

# E com isso encerramos a primeira parte!